*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #e9e9e9;
    font-family: "Fira Mono", monospace, sans-serif;
    font-size: 20px;
}

.wrapper{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
  width: 100vw;
  flex-direction:column;
  
 
}

.keys{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
}

